[flake8]
max-line-length = 100
exclude = .git,__pycache__,build,dist,*.pyc,*.egg-info,.eggs,venv
ignore = D212,D415,E501,E226,E128,E131,F401,F403,F405,F541,F841,E722,E741,E306,W503,W504

# Docstring settings
docstring-convention = google
